*{
  box-sizing: border-box;
  background-color: #36aaa5;
  ;
  
}
h1{
  color: #107869 ;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}
.row row1 {
  justify-content: center;
}


p{
  font-size: 20px;
  text-align: center;
}
input {
  border-radius: 15px ;
  padding-bottom: 10px;
  background-color: #b1d8b7;
  border: none;
  color: purple;
  padding: 16px 32px ;
  text-decoration: none;
  margin: 20px auto 20px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}
#newtask input{
  width: 75%;
  height: 45px;
  padding: 12px;
  position: relative;

}
::placeholder{
  color: #08313A;
}

.addBtn{  
background-color:#36bfdd;
border-radius: 10px;
padding: 5px 15px;
font-size: 16px;
margin: 25px;
font-weight: 600;
transition: 0.3s;
position: relative;
float: right;
cursor: pointer;
}

.addBtn:hover{
  background-color:#94c973 ;

}
ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  font-weight: 600;
  position: relative;
}
ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url("../images/unchecked.png");
  background-size: cover;
  background-position: center;
  top: 12px ;
  left: 8px;
}

ul li.checked{
  color:  #018026;
  text-decoration: line-through;
}

ul li.checked::before{
  background-image: url("../images/checked.png");

}
ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover{
  background: #edeef0;
}





























